<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      
      	<h3>{{ site.title | escape }}</h3>
      	
        <ul class="contact-list">
            <li>{%- include social.html -%}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2"></div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
        {%- if site.sign_up -%}
        	Want to keep up to date? &nbsp;&nbsp; 
        	<a href="{{ site.sign_up }}">
           		Sign up here!
        	</a>
        {%- endif -%}
      </div>
    </div>

  </div>

</footer>
